@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

html{
    --verde: #034C42;
    --blanco: #fff;
    --verde-claro: #D4DDB7;
    --negro: #000;
    --beig: #EFF0EC;
}

body{
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1{
    color: var(--verde);
    font-size: 5.75vw;
    font-weight: 600;
    margin-top: 45px;
    display: flex;
    flex-direction: column
}

#portada{
    background: url(/assets/img/cover.png) no-repeat;
    background-size: cover;
    height: 60vw;
    padding-top: 45px;
    padding-bottom: 20px;
    padding-left: 83px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo img{
    max-width: 398px;
    width: 11.1vw;
    height: auto;
}

.titulo-container{
    width: 36vw;
}

.portada-footer{
    color: var(--verde);
    font-weight: 600;
    font-size: 2.46vw;
}

.nh-wrapper{
    padding-left: 20px;
    padding-right: 20px
}

.nh-container{
    max-width: 1120px;
    margin: 0 auto;
}

.nh-container p,
h2{
    margin-top: 0;
}

.verde{
    background: var(--verde);
}

.verde-claro{
    background: var(--verde-claro);
}

#plan{
    color: var(--blanco);
    padding-top: 170px;
    padding-bottom: 225px;
    text-align: center;
    font-size: 56px;
    line-height: 72px;
    font-weight: 600;
}

#plan .plan-title{
    font-size: 38px;
    font-weight: 400;
}

#plan p{
    margin-bottom: 40px
}

#plan .plan-texto p{
    margin-bottom: 80px;
}

@media (max-width: 1199px){
    #plan{
        padding-top: 120px;
        padding-bottom: 140px;
        font-size: 46px;
        line-height: 66px;
    }

    #plan .plan-title{
        font-size: 32px;
    }
}

@media (max-width: 991px){
    #portada{
        padding-top: 30px;
        padding-bottom:0
    }
    
    h1{
        font-size: 7.75vw;
        margin-top: 20px;
    }
    
    .portada-footer{
        font-size: 3.5vw;
    }
    
    #plan{
        padding-bottom: 120px;
        font-size: 36px;
        line-height: 48px;
    }

    #plan .plan-title{
        font-size: 28px;
    }
    
    #plan .plan-texto p{
        margin-bottom: 60px;
    }
}

@media (max-width: 767px){
    #portada{
        padding-left: 25px;
        padding-top: 15px;
        height: 80vw;
    }
    
    .logo img{
        width: 16vw
    }
    
    h1{
        margin-top: 5px;
        font-size: 10vw;
        line-height: 1;
    }
    
    .portada-footer{
        font-size: 5vw;
        position: relative;
        top: 7px
    }
    
    .nh-wrapper{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    #plan{
        padding-top: 80px;
        padding-bottom: 60px;
        font-size: 20px;
        line-height: 34px;
    }

    #plan .plan-title{
        font-size: 15px;
    }
    
    #plan .plan-title p{
        margin-bottom: 30px;
    }
    
    #plan .plan-texto p{
        margin-bottom: 40px;
    }
}