@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

html{
    --verde: #034C42;
    --blanco: #fff;
    --verde-claro: #D4DDB7;
    --negro: #000;
    --beig: #EFF0EC;
}

body{
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1{
    color: var(--verde);
    font-size: 5.75vw;
    font-weight: 600;
    margin-top: 45px;
    line-height: 1.15;
}

h2{
    color: var(--verde);
    font-weight: 600;
}

#portada{
    background: url(/assets/img/cover.png) no-repeat;
    background-size: cover;
    height: 60vw;
    padding-top: 45px;
    padding-bottom: 20px;
    padding-left: 83px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo img{
    max-width: 398px;
    width: 11.1vw;
    height: auto;
}

.titulo-container{
    width: 36vw;
}

.portada-footer{
    color: var(--verde);
    font-weight: 600;
    font-size: 2.46vw;
}

.nh-wrapper{
    padding-left: 20px;
    padding-right: 20px
}

.nh-container{
    max-width: 1920px;
    margin: 0 auto;
}

.nh-container p,
h2{
    margin-top: 0;
}

.verde{
    background: var(--verde);
}

.verde-claro{
    background: var(--verde-claro);
}

.beig{
    background: var(--beig);
}

#plan{
    color: var(--blanco);
    padding-top: 170px;
    padding-bottom: 225px;
    text-align: center;
    font-size: 56px;
    line-height: 72px;
    font-weight: 600;
}

#plan > .nh-container{
    max-width: 1100px;
}

#plan .plan-title{
    font-size: 38px;
    font-weight: 400;
}

#plan p{
    margin-bottom: 40px
}

#plan .plan-texto p{
    margin-bottom: 80px;
}

#metodo-naturhouse{
    padding-top: 68px;
    padding-bottom: 70px;
    text-align: center;
    --radio-metodo: 30px;
}

#metodo-naturhouse h2{
    font-weight: 400;
    font-size: 78px;
    margin-bottom: 0;
}

#metodo-naturhouse p{
    font-size: 26px;
    margin-bottom: 80px;
}

.metodo-thumbs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.metodo-item{
    /*width: 27.1255%;*/
    width: 31%;
    border-radius: var(--radio-metodo);
    padding-bottom: 24px;
}

.metodo-item img{
    max-width: 100%;
    width: 100%;
    height: auto;
    border-top-left-radius: var(--radio-metodo);
    border-top-right-radius: var(--radio-metodo);
}

#metodo-naturhouse .metodo-item p{
    font-weight: 600;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 28px;
    margin-top: 35px;
    margin-bottom: 40px;
}

.btn{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--blanco);
    background: var(--verde);
    font-weight: 600;
    padding: 8px 35px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
}

.btn:hover{
    opacity: 0.7;
}

.btn-secondary{
    background-color: var(--blanco);
    color: var(--var-verde);
}

#metodo-naturhouse .metodo-item .btn{
    width: 150px;
}

.asesoramiento-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 115px;
}

.asesoramiento-content div:first-child{
    width: 41%;
    text-align: right;
    padding-top: 115px;
    padding-right: 60px;
}

.asesoramiento-content div:first-child p{
    padding-left: 18%;
}

.asesoramiento-content h2,
.plan-alimentacion-content h2,
.complementos-content h2{
    font-size: 51px;
}

.asesoramiento-content p,
.plan-alimentacion-content p,
.complementos-content p{
    font-size: 22px;
    margin-bottom: 60px;
}

.asesoramiento-c2a{
    text-align: center;
}

.asesoramiento-content div:nth-child(2){
    flex-grow: 1;
    background: url(../img/asesoramiento.png) no-repeat 45% 0;
    background-size: cover;
    height: 600px;
    border-bottom-left-radius: 80px;
    border-top-left-radius: 80px;
}

.asesoramiento-c2a a{
    font-size: 28px;
    padding-left: 60px;
    padding-right: 60px;
}

.plan-alimentacion-content,
.complementos-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.plan-alimentacion-content > div:first-child{
    width: calc(63% - 30px);
    background: url(../img/plan-alimentario.png) no-repeat 50% blue;
    background-size: cover;
    height: 620px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
}

.plan-alimentacion-content > div:nth-child(2){
    width: calc(37% - 30px);
    padding-top: 30px;
}

.plan-alimentacion-content p{
    padding-right: 5%:
}

.plan-alimentacion-content p,
.plan-alimentacion-content h2{
    color: var(--blanco);
}

.complementos-content{
    padding-bottom: 0;
    padding-top: 48px;
}

.complementos-content > div:first-child{
    width: calc(50% - 15px);
    padding-bottom: 55px;
}

.complementos-content > div:first-child h2,
.complementos-content > div:first-child p{
    padding-left: 15%;
}

.complementos-content > div:first-child p{
    margin-bottom: 0;
}

.complementos-content > div:first-child .btn{
    margin-top: 30px;
}

.complementos-content > div:nth-child(2){
    background: url(../img/complementos.png);
    background-size: cover;
    width: calc(48% - 15px);
    margin-top: 80px;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
}

.fullwidth{
    padding-left: 0;
    padding-right: 0;   
}

.fullwidth > .nh-container{
    max-width: 1920px;
}

#complementos .btn,
#plan-alimentacion .btn,
#asesoramiento .btn{
    padding-top: 14px;
    padding-bottom: 14px;
}

@media (min-width: 1922px){
    .imagen-full{
        border-radius: 80px;
    }
}

@media (max-width: 1199px){
    #plan{
        padding-top: 120px;
        padding-bottom: 140px;
        font-size: 46px;
        line-height: 66px;
    }

    #plan .plan-title{
        font-size: 32px;
    }
    
    .metodo-item{
        width: 30%;
    }
    
    #metodo-naturhouse h2{
        font-size: 66px;
    }

    #metodo-naturhouse p{
        font-size: 22px;
    }
    
    #metodo-naturhouse .metodo-item p{
        font-size: 22px
    }
    
    #metodo-naturhouse .metodo-item .btn{
        width: 130px;
    }
    
    .full-md{
        padding-left: 0;
        padding-right: 0;
    }
    
    .full-md > .nh-container{
        margin-left: 0;
        margin-right: 0;
        max-width: none;
        width: 100vw;
    }
    
    .asesoramiento-content div:first-child{
        padding-top: 60px;
        padding-left: 15px;
    }

    .asesoramiento-content h2{
        font-size: 46px;
    }

    .asesoramiento-content p{
        font-size: 19px;
        margin-bottom: 60px;
    }
    
    .asesoramiento-content div:nth-child(2){
        height: 55vw;
        border-bottom-right-radius: 0;
    }
    
    .plan-alimentacion-content > div:first-child{
        width: calc(58% - 30px);
        background: url(../img/plan-alimentario.png) no-repeat 50% blue;
        background-size: cover;
        height: 570px;
        border-top-left-radius:0;
        border-bottom-left-radius: 0;
    }

    .plan-alimentacion-content > div:nth-child(2){
        width: calc(42% - 30px);
        padding-top: 30px;
    }
}

@media (max-width: 991px){
    #portada{
        padding-top: 30px;
        padding-bottom:0
    }
    
    h1{
        font-size: 7.75vw;
        margin-top: 20px;
    }
    
    .portada-footer{
        font-size: 3.5vw;
    }
    
    #plan{
        padding-bottom: 120px;
        font-size: 36px;
        line-height: 48px;
    }

    #plan .plan-title{
        font-size: 28px;
    }
    
    #plan .plan-texto p{
        margin-bottom: 60px;
    }
    
    .metodo-item{
        width: 31%;
    }
    
    #metodo-naturhouse h2{
        font-size: 56px;
    }

    #metodo-naturhouse p{
        font-size: 22px;
        margin-bottom: 50px
    }
    
    #metodo-naturhouse .metodo-item p{
        font-size: 18px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 28px;
    }
    
    #metodo-naturhouse .metodo-item .btn{
        width: 130px;
    }
    
    #asesoramiento .asesoramiento-content > div{
        width: 100%;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    #asesoramiento .asesoramiento-content h2{
        font-size: 60px;
    }
    
    #asesoramiento .asesoramiento-c2a{
        margin-bottom: 50px;
    }
    
    #asesoramiento .asesoramiento-content > div:nth-child(2){
        background-size: 100%;
        width: calc(100vw - 60px) !important;
        flex-grow: 0;
        margin: 0 auto;
        border-radius: 60px;
        background-position: 50%;
        height: 50vw;
    }
    
    .plan-alimentacion-content{
        flex-direction: column-reverse;
        padding-top: 0;
    }
    
    .plan-alimentacion-content > div,
    .complementos-content > div{
        width: 100% !important;
        text-align: center;
    }
    
    .plan-alimentacion-content > div:nth-child(2){
        padding-top: 60px;
        margin-bottom: 50px;
    }
    
    .plan-alimentacion-content > div:first-child,
    .complementos-content > div:nth-child(2){
        width: calc(100vw - 30px) !important;
        border-radius: 60px;
        margin: 0 auto;
        height: 50vw;
        background-position-y: 83%;   
    }
    
    .asesoramiento-content div:first-child p{
        padding-left: 0;
    }
    
    .complementos-content > div:first-child h2{
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .complementos-content > div:first-child p{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .complementos-content{
        padding-bottom: 100px;
    }
}

@media (max-width: 767px){
    #portada{
        padding-left: 25px;
        padding-top: 15px;
        height: 80vw;
    }
    
    .logo img{
        width: 16vw
    }
    
    h1{
        margin-top: 5px;
        font-size: 10vw;
        line-height: 1;
    }
    
    .portada-footer{
        font-size: 5vw;
        position: relative;
        top: 12px;
    }
    
    .nh-wrapper{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    #plan{
        padding-top: 80px;
        padding-bottom: 60px;
        font-size: 20px;
        line-height: 34px;
    }

    #plan .plan-title{
        font-size: 15px;
    }
    
    #plan .plan-title p{
        margin-bottom: 30px;
    }
    
    #plan .plan-texto p{
        margin-bottom: 40px;
    }
    
    #metodo-naturhouse{
        padding-top: 35px;
        padding-bottom: 35px;
    }
    
    .metodo-item{
        width: 100%;
        margin-bottom: 30px;
    }
    
    #metodo-naturhouse h2{
        font-size: 32px;
    }

    #metodo-naturhouse p{
        font-size: 14px;
        margin-bottom: 30px;
        margin-top: 15px
    }
    
    #metodo-naturhouse .metodo-item p{
        font-size: 26px;
        line-height: 34px;
    }
    
    #metodo-naturhouse .metodo-item .btn{
        width: 60%;
    }
    
    #asesoramiento .asesoramiento-content,
    .plan-alimentacion-content{
        padding-bottom: 80px;
    }
    
    #asesoramiento .asesoramiento-content > div{
        padding-left: 0;
        padding-right: 0;
        max-width: calc(100vw - 30px)
    }
    
    #asesoramiento .asesoramiento-content > div:nth-child(2){
        background-size: 100%;
        width: 100% !important;
        max-width: none;
        margin: 0;
    }
    
    #asesoramiento .asesoramiento-content h2,
    #plan-alimentacion .plan-alimentacion-content h2,
    #complementos .complementos-content h2{
        font-size: 30px
    }
    
    #asesoramiento .asesoramiento-content p,
    #plan-alimentacion .plan-alimentacion-content p,
    #complementos .complementos-content p{
        font-size: 14px;
        margin-bottom: 40px;
    }
    
    #complementos .complementos-content p:not(:last-child){
        margin-bottom: 0;
    }
    
    #asesoramiento .asesoramiento-c2a{
        margin-bottom: 35px;
    }
    
    .full-md{
        padding-left: 0;
        padding-right: 0;
    }
    
    .full-md > .nh-container{
        padding-left: 15px;
        padding-right: 15px;
        max-width: calc(100vw - 30px);
    }
    
    .plan-alimentacion-content > div{
        max-width: calc(100vw - 30px);
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    .plan-alimentacion-content > div:nth-child(2){
        margin-bottom: 35px;
    }
    
    
    #complementos .complementos-content > div:nth-child(2),
    #plan-alimentacion .plan-alimentacion-content > div:nth-child(1),
    #asesoramiento .asesoramiento-content > div:nth-child(2){
        height: 60vw;
    }

}